global-exclude *.pyc
global-exclude __pycache__

include .flake8
include LICENSE
include MANIFEST.in
include Makefile
include README.md
include pyproject.toml
include setup.py

recursive-include docs *
recursive-include tests *
recursive-include uqbar *

recursive-exclude docs/build *
