name: Testing
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  schedule:
  - cron: "0 0 * * 0"

jobs:
  cancel:
    name: Cancel previous workflow
    runs-on: ubuntu-latest
    steps:
    - name: Cancel previous runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

  docs:
    name: Build docs
    needs: [cancel]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: pip
        cache-dependency-path: "**/pyproject.toml"
    - name: Install Uqbar
      run: pip install -e .[docs]
    - name: Install Graphviz
      run: sudo apt-get install --yes graphviz
    - name: Build docs
      run: make docs

  lint:
    name: Lint
    needs: [cancel]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: pip
        cache-dependency-path: "**/pyproject.toml"
    - name: Install Uqbar
      run: pip install -e .[test]
    - name: Test black
      run: make black-check
    - name: Test flake8
      run: make flake8
    - name: Test mypy
      run: make mypy

  test:
    name: Test
    needs: [cancel]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8, 3.9, "3.10"]
        include:
        - os: macos-latest
          python-version: 3.9
        - os: windows-latest
          python-version: 3.9
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: "**/pyproject.toml"
    - name: Install Uqbar
      run: pip install -e .
    - name: Check importability
      run: python -c "import uqbar"
    - name: Install test dependencies
      run: pip install -e .[test]
    - name: Install Graphviz
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get install --yes graphviz
        elif [ "$RUNNER_OS" == "macOS" ]; then
          brew install graphviz
        elif [ "$RUNNER_OS" == "Windows" ]; then
          choco install graphviz
        fi
    - name: Run pytest
      run: pytest --cov uqbar
